[submodule "frida-gum"]
	path = subprojects/frida-gum
	url = git@github.com:shikorido/frida-gum.git
    branch = termux_build
[submodule "frida-core"]
	path = subprojects/frida-core
	url = git@github.com:shikorido/frida-core.git
    branch = termux_build
[submodule "frida-python"]
	path = subprojects/frida-python
	url = git@github.com:shikorido/frida-python.git
    branch = termux_build
[submodule "frida-node"]
	path = subprojects/frida-node
	url = git@github.com:shikorido/frida-node.git
    branch = termux_build
[submodule "frida-swift"]
	path = subprojects/frida-swift
	url = git@github.com:shikorido/frida-swift.git
    branch = termux_build
[submodule "frida-clr"]
	path = subprojects/frida-clr
	url = git@github.com:shikorido/frida-clr.git
    branch = termux_build
[submodule "frida-qml"]
	path = subprojects/frida-qml
	url = git@github.com:shikorido/frida-qml.git
    branch = termux_build
[submodule "frida-tools"]
	path = subprojects/frida-tools
	url = git@github.com:shikorido/frida-tools.git
    branch = termux_build
[submodule "frida-go"]
	path = subprojects/frida-go
	url = git@github.com:shikorido/frida-go
    branch = termux_build
[submodule "releng"]
	path = releng
	url = git@github.com:shikorido/releng.git
    branch = termux_build
